

.heading {
    margin-top: 60px;
}

section.gallery {
    width: 100%;
}

section.gallery .container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

section.gallery .container .gal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

section.gallery .container .gal img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}